<div class="fixed top-0 right-0 border rounded bg-white p-1 max-w-sm">
  <p class="font-bold">Plugin Control</p>
  <p>Event: <%= @slug %></p>
  <%= if @status == "finished" do %>
    <p>Event is finished</p>
  <% else %>
    <%= if @vanguard != nil do %>
      <p>VG connecting</p>
    <% end %>
    <%= if @chat_setting == %{} do %>
      <p>Loading chat setting...</p>
    <% else %>
      <p>Chat loaded</p>
    <% end %>
  <% end %>
</div>